body{
background:url('../img/cookingchef2.jpeg') no-repeat 0 -200px !important;
background-size: cover;
}
body .body-overlay{
   background: rgba(50, 146, 166, 0.5);
}
.navbar{
  background-color: rgba(245, 245, 245, 0.8);
  /* box-shadow: 2px 2px 5px #F3676E; */
  box-shadow: 2px 2px 5px #5364B9;
}
.nav-link{
  font-size: 1.5rem;
  margin:0 5px 0 5px;
}

.jumbo{
  margin-top: 3.3rem;
  background: rgba(222,129,129,0.7);
  min-height: 10rem;
}

.display-4:hover{
  transform: rotateY(360deg);
  transition: transform 4s;
}

.menu-head{
  /* background: rgba(12,74,237,0.7); */
  /* height: 100%; */
  width: 25%;
}
.menu-head:hover{
  opacity:0.5;
}
.card{
  border: 1px solid red;
  border-radius: 2%;
}
#squareone .card{
  /* background: rgba(66,139,252,1); */
  background:#dc3545 ;
}
#burgrill .card{
  /* background: rgba(66,139,252,1); */
  background: #727b84;
}
#havemore .card{
  /* background: rgba(66,139,252,1); */
  background: #ffc107;
}
#panchpani .card{
  /* background: rgba(66,139,252,1); */
  background: #0069d9;
}
